/* Estilos Globales */
body {
    display: flex;
    flex-direction: column;
}

/* Estilos del Header */
header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.logo h1 {
    font-family: "Montserrat";
    color: #042A51;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

nav {
    margin: 50px;
}

nav ul {
    display: flex;
    margin-top: 20px;
}

.navHeader ul a {
    margin: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: 2px solid transparent;
    color: #042A51;
    text-decoration: none;
}

.navHeader li a:hover {
    border-bottom-color: #8DC63F;
    cursor: pointer;
}

/* Footer Styles */
footer {
    background-color: #042A51;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navFooter ul {
    display: flex;
}

.navFooter ul a {
    margin: 0 25px 0 0;
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #E1E1E1;
}

i {
    margin: 0 25px 0 0;
}

.navFooter li a:hover {
    cursor: pointer;
    color: #8DC63F;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #E1E1E1;
}

.footerDescription,
.copyrights {
    color: #E1E1E1;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footerDescription {
    font-weight: 300;
    margin-bottom: 50px;
}

.copyrights {
    background-color: #000;
    font-size: small;
    width: 100%;
    height: 30px;
}