/* Estilos Globales */
body {
    display: flex;
    flex-direction: column;
}

/* Main Styles */
main {
    width: 100%;
    flex-grow: 1;
    background-color: #E1E1E1;
}

.adviceContainer {
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 5px;
}

#cnpContainer,
.registerContainer {
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 700px;
    padding: 30px;
    font-family: "Montserrat";
    text-align: left;
    color: #042A51;
    overflow: hidden;
}

#cnpContainer {
    margin-right: 15px;
}

.registerContainer {
    margin-left: 15px;
    text-align: center;
}

.containerHeading {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

#cnpContainerImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 30px;
}

.registerContainerImg {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}

.registerContainerText {
    margin: 20px 0;
}

.signUp {
    height: 32px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 11px;
    color: #FFF;
    border: none;
    background-color: #1b6aa1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signUp:hover {
        cursor: pointer;
        background-color: #525146 ;
        color: #FFF;
}

/*  Main Slider Styles */
.sliderContainer {
    background-color: #E1E1E1;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    position: relative;
}

.slide {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#leftButton,
#rightButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.6);
}

#leftButton {
    left: 10px;
}

#rightButton {
    right: 10px;
}
