body{
    font-family: Montserrat Thin 100;
}

/* Estilos del Header */

header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    text-align: center;
    align-items: center;
}

.logo h1 {
    font-family: "Montserrat";
    color: #042A51;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.logo img {
    width: 80px;
    height: 80px;
}

nav {
    margin: 50px;
}

nav ul {
    display: flex;
    margin-top: 20px;
}

.navHeader ul a {
    margin: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    border-bottom: 2px solid transparent;
    color: #042A51;
    text-decoration: none;
}

.navHeader li a:hover {
    border-bottom-color: #8DC63F;
    cursor: pointer;
}

/* Estilos del Footer */

footer {
    background-color: #042A51;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navFooter ul {
    display: flex;
}

.navFooter ul a {
    margin: 0 25px 0 0;
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #E1E1E1;
}

.navFooter li a:hover {
    cursor: pointer;
    color: #8DC63F;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #E1E1E1;
}

.footerDescription,
.copyrights {
    color: #E1E1E1;
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footerDescription {
    font-weight: 300;
    margin-bottom: 50px;
}

.copyrights {
    background-color: #000;
    font-size: small;
    width: 100%;
    height: 30px;
}

/* Seccion de Catalogo */

h2 {

    font-family: Montserrat SemiBold 600;
    font-size: 36px;
    margin: 25px;
}

.catalogoContenedorPrincipal{
    display: flex;
}

.catalogoContendorProducto{

    border: 1px #8DC63F;
    border-radius: 10px;
    width: 250px;
    padding: 25px;
    background-color: #4CAF50;
    margin: 25px;
}

.imagenCatalogoProducto{
    width: 100%;
}

.contenedorImagenCatalogoProducto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 10px;

}

.informacionProductoContedor{

    display: flex;
    flex-direction: column;

}

.informacionPrimeraFila{

    display: flex;
    margin-bottom: 10px;

}

.informacionSegundaFila{

    display: flex;
    justify-content: space-between;

}

.textoSegundaFila{

    margin-right: 10px;

}

.informacionTerceraFila{

    display: flex;
    justify-content: space-between;

}

.logoTramo{

    width: 50px;

}

.contenedorTramo{

    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -15px;


}

.botonIrCatalogo{

    border: 1px solid #042A51;
    text-decoration: none;
    color: #fff;
    background-color: #042A51;
    border-radius: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 45px;

}

.botonIrCatalogo:hover{

    color: #279C44;

}

.verCatalogoContenedor{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;

}

.verCatalogoBoton{

    border-radius: 6px;
    background-color: #042A51;
    text-decoration: none;
    color: #fff;
    width: 100px;
    text-align: center;
    padding: 20px;

}

/* Seccion de Mis Pedidos */

.tablasCompradorPaginaInicio {
    width: calc(100% - 25px);
    /* Ancho de la tabla - Margen derecho */
    border-collapse: collapse;
    margin: 25px auto;
    /* Centra la tabla y aplica un margen superior e inferior */
}

.tablasCompradorPaginaInicio th,
.tablasCompradorPaginaInicio td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tablasCompradorPaginaInicio tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tablasCompradorPaginaInicio th {
    background-color: #4CAF50;
    color: white;
}

.nombreProducto {
    display: flex;
    align-items: center;
}

.nombreProducto img {
    margin-right: 10px;
    width: 20px;
}





